:root {
  --primary-color: #0074d9;
  --greyish-brown: #464646;
  --brand-black: #1d2126;
  --spinner-dimensions: 100%;
}

$primary-color: var(--primary-color);
$brand-black: var(--brand-black);
$soft-black: rgba(0, 0, 0, 0.2);
